[submodule "github-activity"]
	path = Backend Projects/github-activity
	url = https://github.com/yamendez/github-activity.git
[submodule "task-cli"]
	path = Backend Projects/task-cli
	url = https://github.com/yamendez/task-cli.git
[submodule "unit-converter"]
	path = Backend Projects/unit-converter
	url = https://github.com/yamendez/unit-converter.git